section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3em 0;
}

.add-todo-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 60px;
}
.table-container {
  width: 50%;
  margin-top: 1em;
}

.button-cell {
  display: flex;
  justify-content: center;
  button {
    margin-right: 1em;
  }
}
